.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #F4E0B9;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Jost', sans-serif;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #A8A196;
  }
  
  p {
    font-size: 2rem;
    color: #7D7463;
    font-family: 'Lato', sans-serif;
  }
  
  img {
    width: 80%;
  }
  